aws_region   = "us-east-1"
project_name = "obligatorio-isc"
environment  = "academy"

db_name     = "obligatorio"
db_username = "adminisc"
db_password = "CAMBIAR_EN_TERRAFORM_TFVARS_NO_SUBIR"

db_multi_az = false
