aws_region   = "us-east-1"
project_name = "obligatorio-isc"
environment  = "academy"

db_name     = "obligatorio"
db_username = "adminisc"
db_password = "CAMBIAR_EN_TERRAFORM_TFVARS_NO_SUBIR"

db_multi_az = false

kubernetes_version = "1.30"

eks_node_instance_types = ["t3.small"]
eks_node_desired_size   = 2
eks_node_min_size       = 1
eks_node_max_size       = 3
